.card-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height:500px;
    border: 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.description{
    overflow: scroll;
}

img {
  width: 500px;
  height: 300px;
}
