.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 150px;
}

.item{
  width: 500px;
  height: 300px;
  border: 1px solid;
  border: 1px solid;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.description{
    overflow: scroll;
}

img {
  width: 500px;
  height: 300px;
}
